@import '../../app/theme.scss';

.iconContainer {
  font-size: inherit;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.iconSpinning {
  animation: spin 1s infinite linear;
}
