@import '../../app/theme.scss';

.alertContainer {
  display: flex;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #999;
  border-radius: 2px;
}

.alertIcon {
  font-size: 24px;
  margin-right: 10px;
}

.messageContainer {
  width: 100%;
}

.alertMessage {
  display: block;
  font-size: 14px;
  line-height: 25px;
}

.alertDescription {
  display: block;
  font-size: 14px;
  line-height: 1.75;
}

:global {
  :local(.alertContainer) {
    &.alert-error {
      border-color: $error-color;
      background-color: $error-bg-color;

      :local(.alertIcon) {
        color: $error-color;
      }
    }

    &.alert-success {
      border-color: $success-color;
      background-color: $success-bg-color;

      :local(.alertIcon) {
        color: $success-color;
      }
    }
  }

  :local(.alertMessage) {
    &.alert-message-with-description {
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
    }
  }
}
