$primary-color: #527edd;
$primary-color-hover: #437fff;
$default-text-color: #4c566f;

$blue-gray-color: #8394bc;
$blue-gray-color-light: #aeb5c8;

$success-color: #62d4a3;
$success-bg-color: #ecfbf4;

$info-color: #52bcdd;

$error-color: #ff7d5f;
$error-bg-color: #fff2ee;

$blue4B: #4b556e;
$gray7A: #7a84a2;
$grayE8: #e4e7ec;
$grayD4: #d7dae4;
$whiteAE: #aeb5c8;
$whiteF5: #f5f5f5;
$whiteF9: #f9f9f9;
$whiteE8: #e8f0fe;

$wide-screen-down: '(max-width: 1199px)';
$desktop-up: '(min-width: 992px)';
$desktop-down: '(max-width: 991px)';
$tablet-up: '(min-width: 768px)';
$tablet-down: '(max-width: 767px)';
$phone-down: '(max-width: 480px)';
$small-phone-down: '(max-width: 320px)';

$normalPadding: 28px;
