@import '../../app/theme.scss';

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  padding: $normalPadding;
  background-color: $whiteF9;

  @media #{$phone-down} {
    flex-direction: column;
  }
}

.message {
  margin-left: $normalPadding;
  padding-left: $normalPadding;
  border-left: 1px solid rgba(0, 0, 0, 0.05);

  @media #{$phone-down} {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.logoContainer {
  display: block;
}
