$primary-color: #527edd;
$primary-color-hover: #437fff;
$default-text-color: #4c566f;

$blue-gray-color: #8394bc;
$blue-gray-color-light: #aeb5c8;

$error-color: #ff7d5f;
$error-bg-color: #fff2ee;

$blue4B: #4b556e;
$grayE8: #e8ebef;
$whiteAE: #aeb5c8;

$wide-screen-down: '(max-width: 1199px)';
$desktop-up: '(min-width: 992px)';
$desktop-down: '(max-width: 991px)';
$tablet-up: '(min-width: 768px)';
$tablet-down: '(max-width: 767px)';
$phone-down: '(max-width: 480px)';
$small-phone-down: '(max-width: 320px)';

$normalPadding: 20px;
