@import '../../app/theme.scss';

.layoutContainer {
  display: flex;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: white;
}

.leftContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.logoContainer {
  margin: 80px auto 0;

  @media #{$phone-down} {
    margin-top: 30px;
  }
}

.leftBodyContainer {
  flex: 1;
  padding: $normalPadding;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.formContainer {
  width: 100%;
  max-width: 450px;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 80px 30px;
  width: 615px;
  background-image: url('../../images/bg-flag.svg');
  background-size: cover;
  overflow: hidden;

  @media #{$wide-screen-down} {
    width: 550px;
  }

  @media #{$desktop-down} {
    display: none;
  }
}

.backgroundMessage {
  margin-top: 40px;
  font-size: 34px;
  line-height: 52px;
  text-align: right;
  font-weight: 200;
  color: white;
}
